<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>

	<h1>Login</h1>
	<span th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null and session[SPRING_SECURITY_LAST_EXCEPTION].message != null}" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">Invalid credentials</span>

	<form action="login" method = 'POST'>
	
	<fieldset>
		User Name: <input type="text" name = 'username' value = ''>
	</fieldset>
	
	<fieldset>
		Password: <input type="password" name = 'password' value = ''>
	</fieldset>
	
	<fieldset>
		<button name = "submit" type = "submit" value = "submit"> Log in </button>
	</fieldset>
	
	</form>

</body>
</html>