<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Compensation CLaims</title>
	<th:block th:include = "common :: header"></th:block>
	<th:block th:include = "common :: navbar"></th:block>
<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
<!-- jquery core js -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<!-- Bootstrap core js -->
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
<h2 th:if="${not #lists.isEmpty(compensationclaims)}">Compensation Claims</h2>
	<table class="table table-bordered table-hover" th:if="${not #lists.isEmpty(compensationclaims)}">
		<thead>
			<tr>
				<th scope="col">Claim ID</th>
				<th scope="col">Employee Name</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Time</th>
				<th scope="col">Status</th>
				<th scope="col">Approve</th>
				<th scope="col">Reject</th>
			</tr>
		</thead>
  		<tbody>
			<tr th:each="ot:${compensationclaims}">
				<td th:text=${ot.uid}></td>
				<td th:text=${ot.owner.name}></td>
				<td th:utext="${#dates.format(ot.startTime, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:utext="${#dates.format(ot.endTime, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text=${ot.status}></td>
				<td><a class="button" th:href="@{/manager/approveClaim/}+${ot.uid}">Approve</a></td>
				<td><a class="button" th:href="@{/manager/rejectClaim/}+${ot.uid}">Reject</a></td>
				<!-- <td><a href="individualapplication.html"
					th:href="@{/manager/individual/}+${la.uid}" >Approve</a></td>
				<td><a href="individualapplication.html"
					th:href="@{/manager/individual/}+${la.uid}" >Reject</a></td>-->
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<a href ="/manager/exportcompensation"><button>Export as CSV</button></a>
	<br>
	<br>
	<th:block th:include = "common :: footer"></th:block>
</body>
</html>