<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
<title>Overtime Claims</title>

<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
<!-- jquery core js -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<!-- Bootstrap core js -->
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Manager</h2>
        <ul>
            <li><a href="/">Manager Home</a></li>
        	<li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/manager/employeelist">Employee List</a></li>
            <li><a href="/manager/employeeonleave">Employees on Leave</a>
            <li><a href="/manager/listforapproval">Leave Applications for Approval</a></li>
            <li><a href="/manager/compensationclaims">Overtime Claims</a></li>           
          	<li><a href="/logout">Log Out</a></li>
        </ul> 
       
    
    </div>
     <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
<h2 th:if="${not #lists.isEmpty(compensationclaims)}">Overtime Claims</h2>
<h2 th:if="${#lists.isEmpty(compensationclaims)}">There is no overtime claim from your employees.</h2>
	<table class="table table-hover" th:if="${not #lists.isEmpty(compensationclaims)}">
		<thead>
			<tr>
				<th scope="col">Claim ID</th>
				<th scope="col">Employee Name</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Time</th>
				<th scope="col">Hours</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
  		<tbody>
			<tr th:each="ot:${compensationclaims}">
				<td th:text=${ot.uid}></td>
				<td th:text=${ot.owner.name}></td>
				<td th:utext="${#dates.format(ot.startTime, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:utext="${#dates.format(ot.endTime, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${#numbers.formatDecimal((ot.endTime-ot.startTime)/3600000,1,1)}"></td>
				<td th:text=${ot.status}></td>
				<td><span th:if="${ot.status=='APPLIED'}"><a th:href="@{/manager/approveClaim/}+${ot.uid}"><button type="button" class="btn btn-success">Approve</button></a><a th:href="@{/manager/rejectClaim/}+${ot.uid}"><button type="button" class="btn btn-danger">Reject</button></a></span></td>
				<td></td>

			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<div th:if="${not #lists.isEmpty(compensationclaims)}"><a href ="/manager/exportcompensation"><button class="btn btn-primary">Export as CSV</button></a></div>
	<br>
	<br>
</div>
</div>
</div>
</body>
</html>