<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirmation</title>
</head>
<body>
<h1>Confirmation</h1>

<h2>  you have <span th:text="${la.status}"> made a decision on </span> this application.</h2>
	<table class="w3-container" width="100%">
		<tr>

			<td th:text="${la.uid}">ID</td>
			<td th:text="${la.owner.uid}">User ID</td>
			<td th:text="${la.owner.name}">Applicant ID</td>
			<td th:text="${la.fromTime}">Leave Period From</td>
			<td th:text="${la.toTime}">Leave Period To</td>
			<td th:text="${la.type}">Leave Type</td>
			<td th:text="${la.reasons}">Reason for Leave</td>
			<td th:text="${la.rejectReason}" th:if="${la.rejectReason!=null}">Reject Reason</td>
			<td th:text="${la.dissemination.uid}" th:if="${la.dissemination!=null}">Dissemination</td>
			<td th:text="${la.contact}">Contact</td> 
		</tr>	
	</table>

	<div>
		<a th:href="@{/manager/listforapproval}">Back to
			View Applications pending approval</a>

	</div>




</body>
</html>