<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
<title>Confirmation</title>

	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
	<!-- jquery core js -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<!-- Bootstrap core js -->
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Manager</h2>
        <ul>
            <li><a href="/">Manager Home</a></li>
        	<li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/manager/employeelist">Employee List</a></li>
            <li><a href="/manager/employeeonleave">Employees on Leave</a>
            <li><a href="/manager/listforapproval">Leave Applications for Approval</a></li>
            <li><a href="/manager/compensationclaims">Overtime Claims</a></li>           
          	<li><a href="/logout">Log Out</a></li>
        </ul> 
       
    
    </div>
     <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
<h1>Confirmation</h1>

<h2>You have <span th:text="${la.status}"> made a decision on </span> this application.</h2>
	<br>
	<br>
	<table class="table table-hover">
			<thead>
			<tr>
				<th scope="col">Application ID</th>
				<th scope="col">Employee ID</th>
				<th scope="col">Name</th>
				<th scope="col">Start Date</th>
				<th scope="col">End Date</th>
				<th scope="col">Leave Type</th>
				<th scope="col">Reason</th>
				<th scope="col" th:if="${la.dissemination!=null}">Covering Staff</th>
				<th scope="col">Contact</th>
				<th scope="col">Status</th>
				
			</tr>
		</thead>
		<tr>
			<td th:text="${la.uid}">I</td>
			<td th:text="${la.owner.uid}"></td>
			<td th:text="${la.owner.name}"></td>
			<td th:text="${#dates.format(la.fromTime, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${#dates.format(la.toTime, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${la.type}"></td>
			<td th:text="${la.reasons}"></td>
			<td th:text="${la.dissemination.name}" th:if="${la.dissemination!=null}"></td>
			<td th:text="${la.contact}"></td> 
			<td th:text="${la.status}"></td>
		</tr>	
	</table>
	<br>
	<br>
		<table class="w3-container" width="100%" th:if="${la.rejectReason!=null}">
			<thead>
			<tr>
				<th scope="col">Reject Reason</th>		
			</tr>
			</thead>
			<tr>
				<td th:text="${la.rejectReason}">Reject Reason</td>
			</tr>	
		</table>
		<br>
		<br>
	<div>
		<a th:href="@{/manager/listforapproval}"><button class="btn btn-primary">Back to View Applications pending approval</button></a>
	</div>
	<br>
	<br>
	</div>
	</div>
	</div>
</body>
</html>