<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Employees Currently on Leave</title>

	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
	<!-- jquery core js -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<!-- Bootstrap core js -->
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Manager</h2>
        <ul>
            <li><a href="/">Manager Home</a></li>
        	<li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/manager/employeelist">Employee List</a></li>
            <li><a href="/manager/employeeonleave">Employees on Leave</a>
            <li><a href="/manager/listforapproval">Leave Applications for Approval</a></li>
            <li><a href="/manager/compensationclaims">Overtime Claims</a></li>           
          	<li><a href="/logout">Log Out</a></li>
        </ul> 
       
    
    </div>
     <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
	<h1 th:if="${not #lists.isEmpty(employeeonleave)}">Employees Currently on Leave</h1>
	<h1 th:if="${#lists.isEmpty(employeeonleave)}">Currently, there is no employee on leave.</h1>
	<table class="table table-hover" th:if="${not #lists.isEmpty(employeeonleave)}">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Time</th>
				<th scope="col">Position</th>
				<th scope="col">Leave Type</th>
				<th scope="col">Reason</th>
				<th scope="col">Covering Staff</th>
				<th scope="col">Contact</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="el:${employeeonleave}">
				<td th:text=${el.owner.uid}></td>
				<td th:text=${el.owner.name}></td>
				<td th:text=${el.owner.email}></td>
				<td th:utext="${#dates.format(el.fromTime, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:utext="${#dates.format(el.toTime, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text=${el.owner.userType}></td>
				<td th:text=${el.type}></td>
				<td th:text=${el.reasons}></td>
				<td th:text="${el.dissemination.name}" th:if="${el.dissemination!=null}"></td>
				<td th:if="${el.dissemination==null}"></td>
				<td th:text=${el.contact}></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>
</body>
</html>