<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Employee List</title>
<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
<!-- jquery core js -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<!-- Bootstrap core js -->
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Manager</h2>
        <ul>
            <li><a href="/">Manager Home</a></li>
        	<li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/manager/employeelist">Employee List</a></li>
            <li><a href="/manager/employeeonleave">Employees on Leave</a>
            <li><a href="/manager/listforapproval">Leave Applications for Approval</a></li>
            <li><a href="/manager/compensationclaims">Overtime Claims</a></li>           
          	<li><a href="/logout">Log Out</a></li>
        </ul> 
    </div>
     <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
			<h2 th:if="${not #lists.isEmpty(employeelist)}">Employee List</h2>
			<h2 th:if="${#lists.isEmpty(employeelist)}">Currently, there is no employee under this manager.</h2>
				<table th:if="${not #lists.isEmpty(employeelist)}" class="table table-hover">
				  <thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Type</th>
						<th scope="col">Leave History</th>
					</tr>
				</thead>		
					<tbody>
					<tr>
						<tr th:each="emp:${employeelist}">					  
						<td th:text="${emp.uid}"></td>
						<td th:text="${emp.name}"></td>
						<td th:text="${emp.email}"></td>
						<td th:text="${emp.userType}"></td>
						<td><a th:href="@{/manager/las/}+${emp.uid}"><button type="button" class="btn btn-primary">Leave History</button></a></td>
					</tr>
				</table>
				<div th:if="${not #lists.isEmpty(employeelist)}">
				<a href="/manager/exportemployeelist"><button class="btn btn-primary">Export as CSV</button></a></div>
		</div>
	</div>
</div>

</body>
</html>