<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Individual Application Details</title>
</head>
<body>

<h1>Individual Application Details</h1>

	<h1>Individual Application Details</h1>

	<table style="width: 100%" class="w3-container">
		<!-- 			<tr>
				<th>ID</th>
				<th>User ID</th>
				<th>>Applicant ID</th>
				<th>>Leave Period From</th>
				<th>>Leave Period To</th>
				<th>>Reason for Leave</th>
				<th>>Dissemination</th>
				<th>>Contact</th>
			</tr> -->
		<tr>
			<td th:text="${la.uid}">ID</td>
			<td th:text="${la.owner.uid}">User ID</td>
			<td th:text="${la.owner.name}">Applicant ID</td>
			<td th:text="${la.fromTime}">Leave Period From</td>
			<td th:text="${la.toTime}">Leave Period To</td>
			<td th:text="${la.type}">Leave Type</td>
			<td th:text="${la.reasons}">Reason for Leave</td>
			<td th:text="${la.dissemination.uid}" th:if="${la.dissemination!=null}">Dissemination</td>
			<td th:text="${la.contact}">Contact</td>
		</tr>

	</table>

	<div>
		<a class="button" th:href="@{/manager/approveapplication/}+${la.uid}">Approve</a>

		<a class="button" th:href="@{/manager/rejectreasonkeyin/}+${la.uid}">Reject</a>
	</div>

</body>
</html>