<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Individual Application Details</title>
	<th:block th:include = "common :: header"></th:block>
	<th:block th:include = "common :: navbar"></th:block>
	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
	<!-- jquery core js -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<!-- Bootstrap core js -->
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>

<h1>Individual Application Details</h1>7

	<table style="width: 100%" class="w3-container">
		<!-- 			<tr>
				<th>ID</th>
				<th>User ID</th>
				<th>>Applicant ID</th>
				<th>>Leave Period From</th>
				<th>>Leave Period To</th>
				<th>>Reason for Leave</th>
				<th>>Dissemination</th>
				<th>>Contact</th>
			</tr> -->
		<tr>
			<td th:text="${la.uid}">ID</td>
			<td th:text="${la.owner.uid}">User ID</td>
			<td th:text="${la.owner.name}">Applicant ID</td>
			<td th:text="${la.fromTime}">Leave Period From</td>
			<td th:text="${la.toTime}">Leave Period To</td>
			<td th:text="${la.type}">Leave Type</td>
			<td th:text="${la.reasons}">Reason for Leave</td>
			<td th:text="${la.dissemination.uid}" th:if="${la.dissemination!=null}">Dissemination</td>
			<td th:text="${la.contact}">Contact</td>
		</tr>

	</table>

	<div>
		<a class="button" th:href="@{/manager/approveapplication/}+${la.uid}">Approve</a>

		<a class="button" th:href="@{/manager/rejectreasonkeyin/}+${la.uid}">Reject</a>
	</div>
	<th:block th:include = "common :: footer"></th:block>
</body>
</html>