<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Leave Applications for Approval</title>

	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
	<!-- jquery core js -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<!-- Bootstrap core js -->
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Manager</h2>
        <ul>
            <li><a href="/">Manager Home</a></li>
        	<li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/manager/employeelist">Employee List</a></li>
            <li><a href="/manager/employeeonleave">Employees on Leave</a>
            <li><a href="/manager/listforapproval">Leave Applications for Approval</a></li>
            <li><a href="/manager/compensationclaims">Overtime Claims</a></li>           
          	<li><a href="/logout">Log Out</a></li>
        </ul> 
       
    
    </div>
     <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
	<h1 th:if="${not #lists.isEmpty(listforapproval)}">Leave Applications for Approval</h1>
	<h1 th:if="${#lists.isEmpty(listforapproval)}">There is currently no leave application for approval.</h1>
	<table class="table table-hover" th:if="${not #lists.isEmpty(listforapproval)}">
		<thead>
			<tr>
				<th scope="col">Employee ID</th>
				<th scope="col">Name</th>
				<th scope="col">Start Date</th>
				<th scope="col">End Date</th>
				<th scope="col">Number of Days</th>
				<th scope="col">Status</th>
				<th scope="col">View Details</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="la:${listforapproval}">
				<td th:text=${la.owner.uid}></td>
				<td th:text=${la.owner.name}></td>
				<td th:utext="${#dates.format(la.fromTime, 'yyyy-MM-dd')}"></td>
				<td th:utext="${#dates.format(la.toTime, 'yyyy-MM-dd')}"></td>
				<td th:text=${la.duration}></td>
				<td th:text=${la.status}></td>
				<td><a href="individualapplication.html"
					th:href="@{/manager/individual/}+${la.uid}"><button type="button" class="btn btn-primary">View Details</button></a></td>
			</tr>
	</table>
	<div th:if="${not #lists.isEmpty(listforapproval)}"><a href="/manager/listforapprovalcsv"><button class="btn btn-primary">Export as CSV</button></a></div>
	</div>
	</div>
</div>
</body>
</html>