<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application for Approval</title>
	<th:block th:include = "common :: header"></th:block>
	<th:block th:include = "common :: navbar"></th:block>
	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
	<!-- jquery core js -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<!-- Bootstrap core js -->
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<h1 th:if="${not #lists.isEmpty(listforapproval)}">Leave Application for Approval</h1>
	<table class="table table-bordered table-hover" th:if="${not #lists.isEmpty(listforapproval)}">
		<thead>
			<tr>
				<th scope="col">Employee ID</th>
				<th scope="col">Name</th>
				<th scope="col">Start Date</th>
				<th scope="col">End Date</th>
				<th scope="col">Status</th>
				<th scope="col">Leave History</th>
				<th scope="col">View Details</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="la:${listforapproval}">
				<td th:text=${la.owner.uid}></td>
				<td th:text=${la.owner.name}></td>
				<td th:utext="${#dates.format(la.fromTime, 'yyyy-MM-dd')}"></td>
				<td th:utext="${#dates.format(la.toTime, 'yyyy-MM-dd')}"></td>
				<td th:text=${la.status}></td>
				<td><a href="lalist.html"
					th:href="@{/manager/las/}+${la.owner.uid}">Leave History</a></td>
				<td><a href="individualapplication.html"
					th:href="@{/manager/individual/}+${la.uid}">View Details</a></td>
			</tr>
	</table>

	<a href="/manager/listforapprovalcsv">Download in CSV format</a>
	<th:block th:include = "common :: footer"></th:block>
</body>
</html>