<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application for Approval</title>
</head>
<body>
<h1>Leave Application for Approval</h1>
	<h2 th:if="${not #lists.isEmpty(listforapproval)}">Leave Application for Approval</h2>
	<table class="w3-container" th:if="${not #lists.isEmpty(listforapproval)}">
		<tr th:each="la:${listforapproval}">
			<td th:text=${la.uid}>ID</td>
			<td th:text=${la.owner}>Applicant ID</td>
			<td th:text=${la.fromTime}>Leave Period From </td>
			<td th:text=${la.toTime}>Leave Period To</td>
<!-- 			<td th:text=${la.type}>Leave Type</td>
			<td th:text=${la.reason}>Reason for Leave</td>
			<td th:text=${la.disseminationId}>Dissemination</td>
			<td th:text=${la.rcontact}>Contact</td> -->
			<td><a href="individualapplication.html"
				th:href="@{/manager/individual/}+${la.uid}" >View Details</a></td>
		</tr>
	</table>
</body>
</html>