<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
<title>Edit User-Manager Form</title>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a href="/">Admin Home</a></li>
            <li><a href="/admin/list">Manage Staff</a></li>
            <li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/admin/create">Create new staff</a></li>
            <li><a href="/admin/massEditLeave">Manage Medical/Annual Leave</a></li>
            <li><a href="/admin/ph">Manage Public Holiday</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul> 
       
    </div>
    <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <h1>Manage Approval Hierarchy</h1>
 
<form action="#" th:object="${u1tohtml}" th:action="@{/admin/updatemg}" method="post" >
		
		<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2"><b>Employee Id:</b></label>
					<div class="col-sm-6">
						<input class="form-control" type="text" th:field="*{uid}"
							readonly>
					</div>
				</div>
		</fieldset>
		&nbsp;
		<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2"><b>Employee Name:</b></label>
					<div class="col-sm-6">
						<input class="form-control" type="text" th:field="*{name}"
							readonly>
					</div>
				</div>
		</fieldset>
		&nbsp;
		<fieldset>
				<div class="dropdown">
					<label class="control-label col-sm-2"><b>Manager in
							charge:</b></label> <select th:field="*{manager.uid}" name="Select Manager">
						<option th:each="manager:${m1tohtml}"
							th:value="${manager.uid}" th:text="${manager.name}"></option>
					</select>
				</div>
		</fieldset>

		&nbsp;
		<fieldset>
			<div class="form-group">
				<label class="control-label col-sm-6"><button class="btn btn-primary" type="submit"> Save </button></label>
				</div>
		</fieldset>

		

		
	</form>
    </div>
    
</div>

</body>
</html>