<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Managing leave types and quantity.</title>
	<th:block th:include = "common :: navbar"></th:block>
</head>
<body>
<h1>Manage types and quantity of leave allocation</h1>

	<form action="#" th:object="${mldays}" th:action="@{/admin/massSaveLeave}" method="post" >
		<fieldset>
			Medical Leave: <input type="text" th:field="*{medicalLeaveEntitlement}">
		</fieldset>
		<fieldset>
			Annual leave for Administrative Staff: <input type="text" th:field="*{annualLeaveEntitlementAdmin}">
		</fieldset>
		<fieldset>
			Annual Leave for Professional Employees: <input type="text" th:field="*{annualLeaveEntitlementProf}">
		</fieldset>
		<fieldset>
			<button type="submit" >Save</button>
			<button type="reset">Reset</button>
		</fieldset>
	</form>
	
<p>Note: This will reset medical leave to what is stated in the field above, and add the annual leave stated to the balance of each employees.</p>	
</body>
</html>