<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application</title>
<link href="assets/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}"
	rel="stylesheet">
<!-- jquery core js -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!-- if you want to use datetime picker need to import  -->
<script th:src="@{/assets/js/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/js/transition.js}"></script>
<script th:src="@{/assets/js/collapse.js}"></script>
<script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
<link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}"
	rel="stylesheet">
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
</head>
<body>


	<h2>Submit Public Holiday</h2>
	<a class="nav-item nav-link active" href ="/"> <Button>Admin Home</Button> <span class="sr-only"></span></a>


	<div class="row" th:if="${phform != null && !phform.isEmpty()}">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table id="link-list" class="table" style="width: 100%">
				<thead>
					<tr>
						<th scope="col">Entry</th>
						<th scope="col">Date</th>
						<th scope="col">Reason</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ph:${phform}">
						<th scope="row" th:text=${ph.uid}>Id</th>
						<td th:text=${ph.day}>Date</td>
						<td th:text=${ph.name}>Reason</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>


	<main class="row">
		<form action="#" th:object="${phform2}" th:action="@{/admin/saveph}"
			method="post" class="col-md-6 offset-md-3">

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Date</label>
				<div class="row col-sm-10">
					<div class='col-sm-5 input-group date'>
						<input type='text' class="form-control" id='fromtime'
							th:field="*{day}" /> <span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Reason</label>
				<div class="col-sm-10">
					<input name="reasons" type="text" class="form-control"
						placeholder="Public Holiday, Off-in-lieu etc..."
						th:field="*{name}">
				</div>
			</div>



			<button type="submit" class="btn btn-primary btn-lg btn-block"
				th:text="${la!=null}?'update':'submit'" id="submit">submit</button>
		</form>
	</main>


	<script type="text/javascript" th:src="@{/assets/js/submitPH.js}">
	</script>
	<th:block th:include="common :: footer"></th:block>
</body>
</html>