<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<th:block th:include = "common :: header"></th:block>
	<th:block th:include = "common :: navbar"></th:block>
</head>
<body>
<h1>Edit Users</h1>
 
<form action="#" th:object="${edituserform}" th:action="@{/admin/save_edit}" method="post" >
		
		
		<fieldset>
			Employee Id: <input type="text" th:field="*{uid}" readonly>
		</fieldset>
	
		<fieldset>
			Email: <input type="text" th:field="*{email}" readonly>
		</fieldset>
		
		<fieldset>
			Name: <input type="text" th:field="*{name}" required="required">  
		</fieldset>
		  	
		<fieldset>
			Account Status
			<select th:field="*{enabled}" >
 <!--                <option th:each="status:${statustohtml}" th:value="${status}" th:text="${status}"></option> -->
                <option th:value="${true}"> Enabled</option>
                <option th:value="${false}"> Disabled</option>
            </select>
		</fieldset>
			
		<fieldset>
			Employee Role

			<select th:field="*{userType}" >
                <option th:each="type:${usertypetohtml}" th:value="${type}" th:text="${type}"></option>
            </select>
		</fieldset>
		
		<fieldset>
			Annual Leave<input type="number" th:field="*{annualLeaveEntitlement}">
		</fieldset>
		
		<fieldset>
			Medical Leave<input type="number" th:field="*{medicalLeaveEntitlement}">
		</fieldset>
		
		<fieldset>
			<button type="submit" >Save</button>
		</fieldset>
		
	</form>
	<th:block th:include = "common :: footer"></th:block>
</body>
</html>