<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Public Holiday Form</title>
<link href="assets/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}"
	rel="stylesheet">
<!-- jquery core js -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!-- if you want to use datetime picker need to import  -->
<script th:src="@{/assets/js/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/js/transition.js}"></script>
<script th:src="@{/assets/js/collapse.js}"></script>
<script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
<link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}"
	rel="stylesheet">
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">

<link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="sidebar" style="font-size:16px;">
        <h2>Admin</h2>
        <ul>
            <li><a href="/">Admin Home</a></li>
            <li><a href="/admin/list">Manage Staff</a></li>
            <li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/admin/create">Create new staff</a></li>
            <li><a href="/admin/massEditLeave">Manage Medical/Annual Leave</a></li>
            <li><a href="/admin/ph">Manage Public Holiday</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul> 
       
    </div>

    <div class="main_content">
    <div class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			 
			  <a class="navbar-brand" >
				  <img src="/laps/src/main/resources/static/assets/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" >
				  ISS Leave Application Portal
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
		
					
			    </div>
			  </div>
			  	<span class="navbar-text">
	     			Logged user: <span sec:authentication="name"></span>
				</span>
		</nav>
	</div>
	<h1 style="text-align:center"> Public Holiday</h1>

	<div class="row" th:if="${phform != null && !phform.isEmpty()}">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table id="link-list" class="table" style="width: 100%">
				<thead>
					<tr>
						<th scope="col">Entry</th>
						<th scope="col">Date</th>
						<th scope="col">Reason</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ph:${phform}">
						<th scope="row" th:text=${ph.uid}>Id</th>
						<td th:text=${ph.day}>Date</td>
						<td th:text=${ph.name}>Reason</td>
												<td>
						<a th:href="@{/admin/editph/}+${ph.uid}" ><button class="btn btn-primary">Edit</button></a>
						<a th:href="@{/admin/delph/}+${ph.uid}"  ><button class="btn btn-danger">Delete</button></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
</br>
	<h2 style="padding-left: 15px"> Add New Public Holiday</h2>
	<main class="row">
		<form action="#" th:object="${phform2}" th:action="@{/admin/saveph}"
			method="post" class="col-md-6 offset-md-3">

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Date</label>
				<div class="row col-sm-10">
					<div class='col-sm-5 input-group date'>
						<input type='text' class="form-control" id='fromtime'
							th:field="*{day}" /> <span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Reason</label>
				<div class="col-sm-10">
					<input name="reasons" type="text" class="form-control"
						placeholder="Public Holiday, Off-in-lieu etc..."
						th:field="*{name}">
				</div>
			</div>



			<button type="submit" class="btn btn-primary btn-lg btn-block"
				th:text="${la!=null}?'update':'submit'" id="submit">submit</button>
		</form>
	</main>
</div>

	<script type="text/javascript" th:src="@{/assets/js/submitPH.js}">
	</script>
	
	</div>
</body>
</html>