<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Admin Home Page</title>
	<th:block th:include = "common :: header"></th:block>
	<th:block th:include = "common :: navbar"></th:block>
</head>
<body>
	<h1>Admin Home Page</h1>
	<h2>This is the main page for admin. He access his services from here, or click on "Manage Personal Leave" to be directed to employee homepage for leave booking</h2>
	<a href="/admin/list"><button> Manage Staff</button></a>
	<a href="/employee"><button> Manage Personal Leave</button></a>
	<th:block th:include = "common :: footer"></th:block>
</body>
</html>