
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="ISO-8859-1">
    <link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>User Lists</title>
	
  </head>
  <body>
  <div class="wrapper">
    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a href="/">Admin Home</a></li>
            <li><a href="/admin/list">Manage Staff</a></li>
            <li><a href="/employee">Manage Personal Leave</a></li>
            <li><a href="/admin/create">Create new staff</a></li>
            <li><a href="/admin/massEditLeave">Manage Medical/Annual Leave</a></li>
            <li><a href="/admin/ph">Manage Public Holiday</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul> 
       
    </div>
    <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
	<form  th:action="@{/admin/search}" class="form-inline" method="get">
			<p>
            Search for Users:
            <input id="word" type="text" th:value="${word}" name="word" class="form-control input-sm w-auto inline m-r"/>
            <button class="btn btn-primary">Search</button>
            </p>
</form>
</div>
&nbsp;
&nbsp;
 
  <div class="row" th:if="${users != null && !users.isEmpty()}">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="link-list" class="table" style="width:100%">
                <thead>
                <tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Role</th>
					<th scope="col">Manager in Charge</th>
					<th scope="col">Account Status</th>
                </tr>
                </thead>
                <tbody>
					<tr th:each="user:${users}">
						<th scope="row" th:text=${user.uid}>Id</th>
						<td th:text=${user.name}> Name</td>
						<td th:text=${user.email}> Email</td>
						<td th:text=${user.userType}>Role</td>
						<td >
							<span th:text="${user.manager.name}" th:if="${user.manager != null}" > Manager </span>
							<span th:text="${user.manager}" th:if="${user.manager == null}"> Manager </span>
						</td>
						<td th:text="Enabled" th:if="${user.enabled == true}" >Account Status</td>
						<td th:text="Disabled" th:if="${user.enabled == false}" >Account Status</td>
						<td>
						<a th:href="@{/admin/edit/}+${user.uid}" ><button class="btn btn-primary">Edit User</button></a>
						<a th:href="@{/admin/updatemg/}+${user.uid}" ><button class="btn btn-primary">Update Manager</button></a>
						</td>
					</tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
 
  <div class="row" th:if="${users == null OR users.isEmpty()}" th:object="${userList}" >
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="link-list" class="table" style="width:100%">
                <thead>
                <tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Role</th>
					<th scope="col">Manager in Charge</th>
					<th scope="col">Account Status</th>
                </tr>
                </thead>
                <tbody>
					<tr th:each="user:${userList}">
						<th scope="row" th:text=${user.uid}>Id</th>
						<td th:text=${user.name}> Name</td>
						<td th:text=${user.email}> Email</td>
						<td th:text=${user.userType}>Role</td>
						<td >
							<span th:text="${user.manager.name}" th:if="${user.manager != null}" > Manager </span>
							<span th:text="${user.manager}" th:if="${user.manager == null}"> Manager </span>
						</td>
						<td th:text="Enabled" th:if="${user.enabled == true}" >Account Status</td>
						<td th:text="Disabled" th:if="${user.enabled == false}" >Account Status</td>
						<td>
						<a th:href="@{/admin/edit/}+${user.uid}" th:if="${#strings.equals(user.email, currentuseremail) == false}" ><button class="btn btn-primary">Edit User</button></a>
						<a th:href="@{/admin/updatemg/}+${user.uid}" th:if="${#strings.equals(user.email, currentuseremail) == false}"><button class="btn btn-primary">Update Manager</button></a>
						</td>
					</tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
 

 
 <div class="row" th:fragment="pagination" th:if="${users == null OR users.isEmpty()}">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{/admin/list/}+${pageNumber}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>

    </div>
    
</div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  &nbsp;
 
  
  
  	<th:block th:include = "common :: footer"></th:block>
  </body>
</html>