<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Listing</title>
	<th:block th:include = "common :: header"></th:block>
	<th:block th:include = "common :: navbar"></th:block>
</head>
<body>
<h1>ISS User Listing</h1>

<!-- Add Hyperlink -->
	<h2 th:if="${not #lists.isEmpty(userlist)}">User List</h2>
	<table class="w3-container" border="1" th:if="${not #lists.isEmpty(userlist)}">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Manager in Charge</th>
		</tr>
		<tr th:each="user:${userlist}">
			<td th:text=${user.uid}>Id</td>
			<td th:text=${user.name}> Name</td>
			<td th:text=${user.email}> Email</td>
			<td th:text=${user.userType}>Role</td>
			<td >
				<span th:text="${user.manager.name}" th:if="${user.manager != null}" > Manager </span>
				<span th:text="${user.manager}" th:if="${user.manager == null}"> Manager </span>
			</td>
			<td>
			<a th:href="@{/admin/edit/}+${user.uid}" ><button>Edit User</button></a>
			<a th:href="@{/admin/updatemg/}+${user.uid}" ><button>Update Manager</button></a>
			</td>
		</tr>
	</table>
	<th:block th:include = "common :: footer"></th:block>
</body>
</html>