<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Leave Application Details</title>

    <link href="assets/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}"
          rel="stylesheet">
    <!-- jquery core js -->
    <!-- if you want to use datetime picker need to import  -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/assets/js/transition.js}"></script>
    <script th:src="@{/assets/js/collapse.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
    <link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}"
          rel="stylesheet">
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="sidebar" style="font-size:16px;">
        <h2>Employee</h2>
        <ul>
            <li sec:authorize="hasAuthority('ADMIN')" ><a href="/">Admin Home</a></li>
            <li sec:authorize="hasAuthority('MANAGER')" ><a href="/">Manager Home</a></li>
            <li><a href="/employee">Employee Home</a></li>
            <li><a href="/employee/apply">Submit Leave Application</a></li>
            <li><a href="/employee/las">View Leave History</a></li>
            <li><a href="/employee/ots">Manage Overtime</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul> 
       
    </div>
    <div class="main_content">
    <div class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			 
			  <a class="navbar-brand" >
				  <img src="/laps/src/main/resources/static/assets/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" >
				  ISS Leave Application Portal
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
		
					
			    </div>
			  </div>
			  	<span class="navbar-text">
	     			Logged user: <span sec:authentication="name"></span>
				</span>
		</nav>
	</div>
    <h1 style="padding-left: 15px" th:utext="#{leave.application.title}">Leave Application Details</h1>
    <span style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></span>
    <form th:action="@{/employee/la/}+${la.uid}" method="post" id="form" onsubmit="return check()"
          class="col-md-6 offset-md-3" >
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="uid" th:if="${la!=null}"
               th:value="${la.uid}">
        <input type="hidden" name="fromTime" th:value="${la.fromTime}" />
        <input type="hidden" name="toTime" th:value="${la.toTime}"/>
        <div class="form-group row">
            <label for="leavecategory" class="col-sm-2 col-form-label">Leave
                Category</label>
            <div class="col-sm-10">
                <select class="form-control" id="leavecategory" name="type" onchange="onLeaveTypeChange()"
                        th:value="${la!=null}?${la.type}">
                    <option th:each="type:${types}"
                            th:selected="${la!=null}?${la.type == type}" th:value="${type}"
                            th:text="${type}">1</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Reason For Leave</label>
            <div class="col-sm-10">
                <input name="reasons" type="text" class="form-control"
                       placeholder="Please input leave reason"
                       th:value="${la!=null}?${la.reasons}:''">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Contact</label>
            <div class="col-sm-10">
                <input name="contact" type="text" class="form-control"
                       placeholder="Please input contact details if on an overseas trip"
                       th:value="${la!=null}?${la.contact}:''">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start Date</label>
            <div class="row col-sm-10">
                <div class='col-sm-5 input-group date'>
                    <input type='text' class="form-control"  id='fromtime' /> <span
                        class="input-group-addon"> <span
                        class="glyphicon glyphicon-calendar"></span>
						</span>
                </div>
                <div class='col-sm-5 input-group date compensation' >
                    <input type='text' class="form-control"id='fromGranularity'/> <span
                        class="input-group-addon"> <span
                        class="glyphicon glyphicon-calendar"></span>
						</span>
                </div>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">End Date</label>
            <div class="row col-sm-10">
                <div class='col-sm-5 input-group date'>
                    <input type='text' class="form-control"  id='totime' /> <span
                        class="input-group-addon"> <span
                        class="glyphicon glyphicon-calendar"></span>
						</span>
                </div>
                <div class='col-sm-5 input-group date compensation'>
                    <input type='text' class="form-control"id='toGranularity'/> <span
                        class="input-group-addon"> <span
                        class="glyphicon glyphicon-calendar"></span>
						</span>
                </div>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Covering Staff</label>
            <div class="col-sm-10">
                <select class="form-control" name="dissemination"
                        th:value="${la!=null}?(${la.dissemination!=null}?${la.dissemination.uid}:null):null">
                    <option th:value="null"></option>
                    <option th:each="employee:${employees}"
                            th:selected="${la!=null}?(${la.dissemination!=null}?${la.dissemination.uid == employee.uid}:null):null" th:value="${employee.uid}"
                            th:text="${employee.name}">1</option>
                </select>
            </div>
        </div>
        <button  class="btn btn-primary btn-lg btn-block" th:if="${la.status!='REJECTED'&&la.status!='APPROVED'&&la.status!='CANCELLED'}"
                 th:text="${la!=null}?'update':'submit'" id="submit">Submit</button>
    </form>

    <form th:action="@{/employee/cancel/}+${la.uid}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit" class="btn btn-danger btn-lg" th:if="${la!=null&&la.status!='REJECTED'&&la.status!='CANCELLED'}"
                th:text="cancel" id="cancel">Cancel Application</button>
    </form>
    <script type="text/javascript" th:src="@{/assets/js/laDetail.js}"></script>
</body>
</html>
