<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <link href="assets/css/signin.css" th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Personal Leave History</title>
	
  </head>
  <body>
  <div class="wrapper">
    <div class="sidebar">
        <h2>Employee</h2>
        <ul>
            <li sec:authorize="hasAuthority('ADMIN')" ><a href="/">Admin Home</a></li>
            <li sec:authorize="hasAuthority('MANAGER')" ><a href="/">Manager Home</a></li>
            <li><a href="/employee">Employee Home</a></li>
            <li><a href="/employee/apply">Submit Leave Application</a></li>
            <li><a href="/employee/las">View Leave History</a></li>
            <li><a href="/employee/ots">Manage Overtime</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul> 
       
    </div>
     <div class="main_content">
        <div class="header"><th:block th:include = "common :: navbar"></div>  
        <div class="container">
	<h2>Personal Leave History</h2>
	<table class="table table-bordered table-hover">
	  <thead>
		<tr>
			<th scope="col">Start Date</th>
			<th scope="col">End Date</th>
			<th scope="col">No. of Days</th>
			<th scope="col">Leave Type</th>
			<th scope="col">Status</th>
			<th scope="col"></th>
		</tr>
	</thead>		
		<tbody>
		<tr>
			<tr th:each="la:${laList}">					  
			<td th:utext="${#dates.format(la.fromTime, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:utext="${#dates.format(la.toTime, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:utext="${la.duration}"></td>
			<td th:text="${la.type}"></td>
			<td th:text="${la.status}"></td>
			<td><a href="laDetails.html"
				th:href="@{/employee/la/}+${la.uid}">View Details</a></td>
		</tr>
	</table>
	
	 <div class="row" th:fragment="pagination" th:if="${la == null OR la.isEmpty()}">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{/employee/las/}+${pageNumber}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
	
	
	
	  
</body>
</html>