<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application</title>
<link href="assets/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}"
	rel="stylesheet">
<!-- jquery core js -->
<!-- if you want to use datetime picker need to import  -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/js/transition.js}"></script>
<script th:src="@{/assets/js/collapse.js}"></script>
<script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
<link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}"
	rel="stylesheet">
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
	<h2>Application for Leave</h2>
	<span style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></span>
	<main class="row">
		<form th:action="@{/employee/la}" method="post" id="form" onsubmit="return check()"
			  class="col-md-6 offset-md-3" >
			<input type="hidden" name="_method" value="put" th:if="${la!=null}" />
			<input type="hidden" name="uid" th:if="${la!=null}"
				   th:value="${la.uid}">
			<input type="hidden" name="fromTime"/>
			<input type="hidden" name="toTime"/>
			<div class="form-group row">
				<label for="leavecategory" class="col-sm-2 col-form-label">leave
					category</label>
				<div class="col-sm-10">
					<select class="form-control" id="leavecategory" name="type" onchange="onLeaveTypeChange()"
							th:value="${la!=null}?${la.type}">
						<option th:each="type:${types}"
								th:selected="${la!=null}?${la.type == type}" th:value="${type}"
								th:text="${type}">1</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">reason</label>
				<div class="col-sm-10">
					<input name="reasons" type="text" class="form-control"
						   placeholder="please input leave reason"
						   th:value="${la!=null}?${la.reasons}:''">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">contact</label>
				<div class="col-sm-10">
					<input name="contact" type="text" class="form-control"
						   placeholder="please input contact if on an overseas trip"
						   th:value="${la!=null}?${la.contact}:''">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">from time</label>
				<div class="row col-sm-10">
					<div class='col-sm-5 input-group date'>
						<input type='text' class="form-control"  id='fromtime' /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<div class='col-sm-5 input-group date compensation' >
						<input type='text' class="form-control"id='fromGranularity'/> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>

				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">to time</label>
				<div class="row col-sm-10">
					<div class='col-sm-5 input-group date'>
						<input type='text' class="form-control"  id='totime' /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<div class='col-sm-5 input-group date compensation'>
						<input type='text' class="form-control"id='toGranularity'/> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>

				</div>
			</div>
			<span id="showDays"></span>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">dissemination</label>
				<div class="col-sm-10">
					<select class="form-control" name="dissemination"
							th:value="${la!=null}?(${la.dissemination!=null}?${la.dissemination.uid}:null):null">
						<option th:value="null"></option>
						<option th:each="employee:${employees}"
								th:selected="${la!=null}?(${la.dissemination!=null}?${la.dissemination.uid == employee.uid}:null):null" th:value="${employee.uid}"
								th:text="${employee.name}">1</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block"
					th:text="${la!=null}?'update':'submit'" id="submit">submit</button>
		</form>
	</main>

	<script type="text/javascript" th:src="@{/assets/js/submitLA.js}">
	</script>
</body>
</html>