<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application</title>
<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
<!-- jquery core js -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<!-- Bootstrap core js -->
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<h2>Application for Leave</h2>

<!-- <form action="#" th:object="${LAModelToHtml}" th:action="@{/la/add}" method="post">
		<fieldset>
		<input type="hidden" th:field="*{uid}">  
		</fieldset>
		<fieldset>
			Start Date: <input type="text" th:field="*{fromTime}">
		</fieldset>
		<fieldset>
			End Date: <input type="text" th:field="*{toTime}">
		</fieldset>
		<fieldset>
			Reason: <input type="text" th:field="*{reasons}">
		</fieldset>
		<fieldset>
			Leave Type: <input type="text" th:field="*{type}">
		</fieldset>
		<fieldset>
			Person Covering Duties: <input type="text" th:field="${Employee.dissemination}">
		</fieldset>
		<fieldset>
			If you are travelling outside of Singapore, please provide a contact number: <input type="text" th:field="*{contact}">
		</fieldset>
		<fieldset>
			<button type = "submit">Submit</button>
		</fieldset>
		</form>
	 -->	
</body>
</html>